.Pictures {
  // font-family: sans-serif;
  /* text-align: center; */
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}
.image-item {
  display: flex;
  margin: 10px 0;
}
.image-item__btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:2px;

}
.xbutton {
  height: 20px;
  width:20px;
  border-width: 0px;
  background-color: #E43D44;
  border-color: #E43D44;
  color:white;
  border-radius: 20%;
}
.updateButton{
  height: 20px;
  width:20px;
  border-width: 0px;
  background-color: #E43D44;
  border-color: #E43D44;
  color:white;
  border-radius: 20%;
  margin-bottom: 3px;
}

.chooseordropbutton{
  height: 40px;
  border-width: 0px;
  background-color: #E43D44;
  border-color: #E43D44;
  color:white;
  border-radius: 5%;
}

.upload__image-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  background: white;
  border-color: white;
  border-width:2px;
  min-height:40%;
  min-width:40%;
  max-height:40%;
  max-width:70%;
}

button:hover {
  background-color: #EB7923; /* Green */
  color: white;
}

.allimages{
  margin: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.globalbuttons{
  display: flex;
  flex-direction: column;
}

.photos-button {
  display: inline-block;
  border-radius: 6px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  width: 150px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  align-self: center;
}

.photos-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.photos-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.photos-button:hover span {
  padding-right: 25px;
}

.photos-button:hover span:after {
  opacity: 1;
  right: 0;
}

.title{
  font-size: larger;
  font-weight: bold;
  margin-bottom: 16px;
  color: black;
  display: flex;
  font-family: "Helvetica";
}

