.botonesSwipe {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 10vh;
  justify-content: center;
}

.botonesSwipe .MuiIconButton-root {
  background-color: white;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.199);
  margin-right:2%;
  margin-left:2%;
}

.botonesSwipe__replay {
  padding: 2vw !important;
  color: orange !important;
}

.botonesSwipe__close {
  padding: 2vw !important;
  color: rgb(214, 76, 57) !important;
}

.botonesSwipe__star{
  padding: 2vw !important;
  color: rgb(64,168,233) !important;
}

.botonesSwipe__fav {
  padding: 2vw !important;
  color: #0F5054 !important;
}

.botonesSwipe__flash {
  padding: 2vw !important;
  color: purple !important;
}