
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.119);

}

.header__logo {
  height: 40px;
  object-fit: contain;

}

.header__icon {
  padding: 20px;

}

.botonHome{
  color: grey !important;
  padding: 20px;
  border-radius: 20% !important;

}

.home-span{
  font-size: 1rem;
  margin-left: 0.4rem;
}

.matches-span{
  font-size: 1rem;
}


.audiomeet-span{
  display: flex;
  align-self: center;
  margin-right:3rem;
  font-size: 30px;
  color: grey;
}

.notifications-span{
  display: flex;
  align-self: center;
  margin-right:2rem;
  font-size: 30px;
  color: grey;
}