.tarjeta {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 60vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.356);
}



.tarjeta h2 {
  position: absolute;
  bottom: 40px;
  color: white;
  background-color: black;
}

.tarjeta h4 {
  position: absolute;
  color: white;
  bottom: -1px;
  background-color: black;
}

.tarjetasTinder__contenedor {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
}

.noMoreUsers h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: black;
}

