.w-100 btn btn-primary{
  background-color: #E43D44;
  border-color: #E43D44;
}

.card .w-100{
  background-color: #E43D44;
  border-color: #E43D44;
  .text-center mt-3{
    background-color: white;
    border-color: white;
  }
}

.w-100 text-center mt-3{
  background-color: white;
  border-color: white;
}

.forgotp{
  color:white;
}